<a href="https://colab.research.google.com/github/OtabekMamajonov/vizualizatsiya/blob/main/ish_un.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('/content/drive/MyDrive/bristol-air-quality-data.csv',sep=';')

In [7]:
df.info

<bound method DataFrame.info of                                                    Date Time;NOx;NO2;NO;SiteID;PM10;NVPM10;VPM10;NVPM2.5;PM2.5;VPM2.5;CO;O3;SO2;Temperature;RH;Air Pressure;Location;geo_point_2d;DateStart;DateEnd;Current;Instrument Type
2014-08-22T08:00:00+00:00;37.74893;23.6538;9.19...  -2.58454081635;2006-06-15T00:00:00+00:00;;True...
2014-08-22T06:00:00+00:00;249.5;26.75;145.0;206...  -2.59626237324;2003-01-01T00:00:00+00:00;2015-...
2014-08-22T06:00:00+00:00;42.19836;31.83834;6.7...  -2.58454081635;2006-06-15T00:00:00+00:00;;True...
2014-08-22T04:00:00+00:00;27.25;18.75;5.5;215;;...  -2.60495665673;2002-02-01T00:00:00+00:00;;True...
2014-08-22T01:00:00+00:00;36.5;24.75;7.75;270;;...  -2.56374153315;2003-05-23T00:00:00+00:00;;True...
...                                                                                               ...
2022-02-10T11:00:00+00:00;294.2715907;99.61203;...  -2.59664882861;2018-11-30T00:00:00+00:00;;True...
2022-02-10T12:00:00+00:00;58.147437;23.936;22.3...  -2.55995583224;2001-01-01T00:00:00+00:00;;True...
2022-02-10T15:00:00+00:00;12.431;8.415;2.619;45...  -2.58454081635;2006-06-15T00:00:00+00:00;;True...
2022-02-10T14:00:00+00:00;45.971187;18.556031;1...  -2.55995583224;2001-01-01T00:00:00+00:00;;True...
2022-02-10T15:00:00+00:00;100.8471857;43.776062...  -2.59543271841;2021-07-01T00:00:00+00:00;;True...

[1474177 rows x 1 columns]>

In [4]:
df.shape

(1474177, 1)

In [8]:
df2 = df.T
df2

,2014-08-22T08:00:00+00:00;37.74893;23.6538;9.1926;452;8.7;6.8;1.9;;;;;45.20261;;;;;AURN St Pauls;51.4628294172,2014-08-22T06:00:00+00:00;249.5;26.75;145.0;206;;;;;;;;;;;;;Rupert Street;51.4554331987,2014-08-22T06:00:00+00:00;42.19836;31.83834;6.75662;452;7.5;6.7;0.8;;;;;22.10238;;;;;AURN St Pauls;51.4628294172,2014-08-22T04:00:00+00:00;27.25;18.75;5.5;215;;;;;;;;;;;;;Parson Street School;51.432675707,2014-08-22T01:00:00+00:00;36.5;24.75;7.75;270;;;;;;;;;;;;;Wells Road;51.4278638883,2014-08-22T00:00:00+00:00;7.2726;7.08454;0.12265;452;5.1;2.8;2.3;;;;;55.54698;;;;;AURN St Pauls;51.4628294172,2014-08-21T20:00:00+00:00;26.0;16.5;6.25;203;;;;;;;;;;;;;Brislington Depot;51.4417471802,2014-08-21T18:00:00+00:00;59.75;36.0;15.5;375;;;;;;;;;;;;;Newfoundland Road Police Station;51.4606738207,2014-08-21T16:00:00+00:00;119.5;50.25;45.25;270;;;;;;;;;;;;;Wells Road;51.4278638883,2014-08-21T16:00:00+00:00;136.75;50.5;56.5;375;;;;;;;;;;;;;Newfoundland Road Police Station;51.4606738207,...,2022-02-09T07:00:00+00:00;15.48275;4.780188;6.976619;203;;;;;;;;;;;;;Brislington Depot;51.4417471802,2022-02-09T09:00:00+00:00;139.417001;49.637874;58.475295;270;;;;;;;;;;;;;Wells Road;51.4278638883,2022-02-10T06:00:00+00:00;42.2317179;29.0986878;8.5852484;672;;;;;;;;;;;;;Marlborough Street;51.4591419715,2022-02-10T07:00:00+00:00;44.457126;20.832969;15.399757;203;;;;;;;;;;;;;Brislington Depot;51.4417471802,2022-02-10T08:00:00+00:00;111.362217;43.907281;43.94532;203;;;;;;;;;;;;;Brislington Depot;51.4417471802,2022-02-10T11:00:00+00:00;294.2715907;99.61203;127.1077498;501;;;;;;;;;;;;;Colston Avenue;51.4552693825,2022-02-10T12:00:00+00:00;58.147437;23.936;22.345894;203;;;;;;;;;;;;;Brislington Depot;51.4417471802,2022-02-10T15:00:00+00:00;12.431;8.415;2.619;452;15.459;;;;2.0;;;70.648;;;;;AURN St Pauls;51.4628294172,2022-02-10T14:00:00+00:00;45.971187;18.556031;17.862929;203;;;;;;;;;;;;;Brislington Depot;51.4417471802,2022-02-10T15:00:00+00:00;100.8471857;43.7760623;37.2523935;672;;;;;;;;;;;;;Marlborough Street;51.4591419715
Date Time;NOx;NO2;NO;SiteID;PM10;NVPM10;VPM10;NVPM2.5;PM2.5;VPM2.5;CO;O3;SO2;Temperature;RH;Air Pressure;Location;geo_point_2d;DateStart;DateEnd;Current;Instrument Type,-2.58454081635;2006-06-15T00:00:00+00:00;;True...,-2.59626237324;2003-01-01T00:00:00+00:00;2015-...,-2.58454081635;2006-06-15T00:00:00+00:00;;True...,-2.60495665673;2002-02-01T00:00:00+00:00;;True...,-2.56374153315;2003-05-23T00:00:00+00:00;;True...,-2.58454081635;2006-06-15T00:00:00+00:00;;True...,-2.55995583224;2001-01-01T00:00:00+00:00;;True...,-2.58225341824;2005-01-01T00:00:00+00:00;2015-...,-2.56374153315;2003-05-23T00:00:00+00:00;;True...,-2.58225341824;2005-01-01T00:00:00+00:00;2015-...,...,-2.55995583224;2001-01-01T00:00:00+00:00;;True...,-2.56374153315;2003-05-23T00:00:00+00:00;;True...,-2.59543271841;2021-07-01T00:00:00+00:00;;True...,-2.55995583224;2001-01-01T00:00:00+00:00;;True...,-2.55995583224;2001-01-01T00:00:00+00:00;;True...,-2.59664882861;2018-11-30T00:00:00+00:00;;True...,-2.55995583224;2001-01-01T00:00:00+00:00;;True...,-2.58454081635;2006-06-15T00:00:00+00:00;;True...,-2.55995583224;2001-01-01T00:00:00+00:00;;True...,-2.59543271841;2021-07-01T00:00:00+00:00;;True...

In [10]:
df

,Date Time,NOx,NO2,NO,SiteID,PM10,NVPM10,VPM10,NVPM2.5,PM2.5,...,SO2,Temperature,RH,Air Pressure,Location,geo_point_2d,DateStart,DateEnd,Current,Instrument Type
0,2014-08-22T08:00:00+00:00,37.748930,23.653800,9.192600,452,8.700,6.8,1.9,NaN,NaN,...,NaN,NaN,NaN,NaN,AURN St Pauls,"51.4628294172,-2.58454081635",2006-06-15T00:00:00+00:00,NaN,True,Continuous (Reference)
1,2014-08-22T06:00:00+00:00,249.500000,26.750000,145.000000,206,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Rupert Street,"51.4554331987,-2.59626237324",2003-01-01T00:00:00+00:00,2015-12-31T00:00:00+00:00,False,Continuous (Reference)
2,2014-08-22T06:00:00+00:00,42.198360,31.838340,6.756620,452,7.500,6.7,0.8,NaN,NaN,...,NaN,NaN,NaN,NaN,AURN St Pauls,"51.4628294172,-2.58454081635",2006-06-15T00:00:00+00:00,NaN,True,Continuous (Reference)
3,2014-08-22T04:00:00+00:00,27.250000,18.750000,5.500000,215,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Parson Street School,"51.432675707,-2.60495665673",2002-02-01T00:00:00+00:00,NaN,True,Continuous (Reference)
4,2014-08-22T01:00:00+00:00,36.500000,24.750000,7.750000,270,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Wells Road,"51.4278638883,-2.56374153315",2003-05-23T00:00:00+00:00,NaN,True,Continuous (Reference)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1474172,2022-02-10T11:00:00+00:00,294.271591,99.612030,127.107750,501,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.4552693825,-2.59664882861",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
1474173,2022-02-10T12:00:00+00:00,58.147437,23.936000,22.345894,203,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Brislington Depot,"51.4417471802,-2.55995583224",2001-01-01T00:00:00+00:00,NaN,True,Continuous (Reference)
1474174,2022-02-10T15:00:00+00:00,12.431000,8.415000,2.619000,452,15.459,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,AURN St Pauls,"51.4628294172,-2.58454081635",2006-06-15T00:00:00+00:00,NaN,True,Continuous (Reference)
1474175,2022-02-10T14:00:00+00:00,45.971187,18.556031,17.862929,203,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Brislington Depot,"51.4417471802,-2.55995583224",2001-01-01T00:00:00+00:00,NaN,True,Continuous (Reference)
1474176,2022-02-10T15:00:00+00:00,100.847186,43.776062,37.252393,672,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Marlborough Street,"51.4591419715,-2.59543271841",2021-07-01T00:00:00+00:00,NaN,True,Continuous (Reference)

In [13]:
df3 = df[df['Date Time']>'2010-01-01T00:00:00+00:00']

In [15]:
df3

,Date Time,NOx,NO2,NO,SiteID,PM10,NVPM10,VPM10,NVPM2.5,PM2.5,...,SO2,Temperature,RH,Air Pressure,Location,geo_point_2d,DateStart,DateEnd,Current,Instrument Type
0,2014-08-22T08:00:00+00:00,37.748930,23.653800,9.192600,452,8.700,6.8,1.9,NaN,NaN,...,NaN,NaN,NaN,NaN,AURN St Pauls,"51.4628294172,-2.58454081635",2006-06-15T00:00:00+00:00,NaN,True,Continuous (Reference)
1,2014-08-22T06:00:00+00:00,249.500000,26.750000,145.000000,206,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Rupert Street,"51.4554331987,-2.59626237324",2003-01-01T00:00:00+00:00,2015-12-31T00:00:00+00:00,False,Continuous (Reference)
2,2014-08-22T06:00:00+00:00,42.198360,31.838340,6.756620,452,7.500,6.7,0.8,NaN,NaN,...,NaN,NaN,NaN,NaN,AURN St Pauls,"51.4628294172,-2.58454081635",2006-06-15T00:00:00+00:00,NaN,True,Continuous (Reference)
3,2014-08-22T04:00:00+00:00,27.250000,18.750000,5.500000,215,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Parson Street School,"51.432675707,-2.60495665673",2002-02-01T00:00:00+00:00,NaN,True,Continuous (Reference)
4,2014-08-22T01:00:00+00:00,36.500000,24.750000,7.750000,270,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Wells Road,"51.4278638883,-2.56374153315",2003-05-23T00:00:00+00:00,NaN,True,Continuous (Reference)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1474172,2022-02-10T11:00:00+00:00,294.271591,99.612030,127.107750,501,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Colston Avenue,"51.4552693825,-2.59664882861",2018-11-30T00:00:00+00:00,NaN,True,Continuous (Reference)
1474173,2022-02-10T12:00:00+00:00,58.147437,23.936000,22.345894,203,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Brislington Depot,"51.4417471802,-2.55995583224",2001-01-01T00:00:00+00:00,NaN,True,Continuous (Reference)
1474174,2022-02-10T15:00:00+00:00,12.431000,8.415000,2.619000,452,15.459,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,AURN St Pauls,"51.4628294172,-2.58454081635",2006-06-15T00:00:00+00:00,NaN,True,Continuous (Reference)
1474175,2022-02-10T14:00:00+00:00,45.971187,18.556031,17.862929,203,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Brislington Depot,"51.4417471802,-2.55995583224",2001-01-01T00:00:00+00:00,NaN,True,Continuous (Reference)
1474176,2022-02-10T15:00:00+00:00,100.847186,43.776062,37.252393,672,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Marlborough Street,"51.4591419715,-2.59543271841",2021-07-01T00:00:00+00:00,NaN,True,Continuous (Reference)

In [16]:
df3.to_csv('crop.csv')